/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/db/*.sqlite3
/db/*.sqlite3-journal

/public/assets
/public/packs
/public/packs-test
/public/*.map
/public/uploads

/storage/*
!/storage/.keep

/vendor/bundle
.byebug_history
*.swp
*.swo

.DS_Store
